<!DOCTYPE html>
<html lang="en">
<head>
    <title>Public Art SD</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Dela+Gothic+One&family=Gloria+Hallelujah&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <title>Public Art SD</title>
    <h1>"&nbsp;<%= piece.title %>&nbsp;"</h1>
    <br>
    <br>
    <nav class="nav">
        <a href="/pieces" class="hb" id="hov">HOME</a>
        <% if (user) { %>
          <a href="/pieces/new" class="npb" id="hov">NEW PIECE</a>
          <a href="/logout" class="lob" id="hov">LOG OUT</a>
        <% } else { %>
          <a href="/auth/google" class="lib" id="hov">LOG IN</a>
        <% } %>
    </nav>

<br>
<section class="ed-form">
<form id="form2" action="/pieces/<%= piece._id %>?_method=PUT" method="POST">
    <label>Title:</label>
    <input type="text" name="title" value="<%= piece.title %>"><br>
    <label>Link To Image:</label>
    <input type="text" required name="image" value="<%= piece.image %> "><br>
    <label>Artist:</label>
    <input type="text" name="artist" value="<%= piece.artist%> "><br>
    <label>Location:</label>
    <input type="text" name="location" value="<%= piece.location %> "><br>
    <label>Media:</label>
    <input type="text" name="media" value="<%= piece.media %> "><br>
    <label>Description:</label>
    <input type="textarea" name="description"  style="width: 190px;" value="<%= piece.description %>"></input><br>
    <label>Currently On Display:</label>
    <input type="checkbox" name="currentlyAvailable" checked><br>
    <br>
    <input type="submit" class="add-up-butts" value="Update Piece">
  </form>
</section>

<%- include('../partials/footer') %>