<%- include('../partials/header') %>
<nav class="main-desc">
  <p class="m-d">With nearly perfect weather year-round, most residents and visitors to San Diego want to spend as much time outdoors as possible. Fortunately for art lovers, San Diego’s great outdoors also happen to be home to vibrant artworks by internationally renowned artists. Make a day (or two) of hunting for these public works of art around San Diego. Click any image for more details and log in with Google to be part of the community!</p>
</nav>
<section class="pieces-page">
  <% pieces.forEach(function(p) { %>
  <a href="/pieces/<%= p._id %>"><img src="<%= p.image %>" height="400vmin" alt="oopsie"></a>
  <br>
  <td><h3><%= p.title %></h3></td>
  <br><br>
  <br>
  <br>
  <br>
  <% }); %>
</section>

    
<%- include('../partials/footer') %>