<%- include('../partials/header') %>

<section id="show-page">
  <img src="<%= piece.image %>" height="350vmin" alt="oopsies" >
  <div>Title:&nbsp;<%= piece.title %></div>
  <div>Artist:&nbsp;<%= piece.artist %></div>
  <div>Currently Available:&nbsp;<%= piece.currentlyAvailable ? 'Yes' : 'No' %></div>

  <br><br>
<% if (user) { %>
  <form id="add-comment-form" method="POST" action="/pieces/<%= piece._id %>/comments">
    <label>Comments / Interpretations:</label><br>
    <br>
    <textarea name="comment"></textarea><br>
    <br>
    <input type="submit" value="Add Comment">
  </form>
<% } %>
<br>
<% if (piece.comments.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Comment</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %>
      <% piece.comments.forEach(function(c) { %>
        <tr>
          <td class="user-comment"><img alt="avatar" src="<%= c.userAvatar %>"><%= c.userName %></td>
          <td><%= c.createdAt.toLocaleDateString() %></td>
          <td><%= c.comment %></td>
          <td>
            <% if (user && user._id.equals(c.user)) { %>
              <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }); %>
      <tr>
        <td colspan="3"></td>
      </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Comments Yet</h5>
<% } %>

<%- include('../partials/footer') %>